.error-message {
    color: red;
}
.title {
    text-align: center;
}
.page {
    padding: 60px 0;
}

#menubar-navicon {
    color: white;
}

#menubar-title {
    flex-grow: 1;
    text-align: center;
}
.sticky-board-card {
    padding: 5px;
    text-align: center;
}
.sticky-board-card.disabled {
    background-color: lightgray;
}
.grid {
    padding: 15px;
}

#dashboard-page {
    text-align: center;
}

#login-form, #create-account-form {
    margin: auto;
    max-width: 200px;
    width: fit-content;
    border: 3px solid black;
    padding: 0 15px 15px 15px;
    text-align: center;
}

a.board-link {
    color: black;
    text-decoration: none;
}

#landing-page {
    text-align: center;
}
